#quiz {
    width: 50%;
    height: 550px;
    text-align:center;
    margin:100px;
    border: 5px solid rgba(201, 22, 201, 0.5);
    border-radius: 10px;
    background-color: black;
    color: rgb(172, 7, 65);
}

h2 {
    margin-bottom: 62px;
}

.btn {
    width: 40%;
    height: 20%;
    margin: 20px;
    border: 5px inset rgb(34, 34, 155);
    border-radius: 18px;
    box-shadow: 10px 6px 25px 2px rgb(34, 34, 155);
}

.btn:hover {
    box-shadow: inset 10px 6px 25px 2px rgb(34, 34, 155);
}

#startQuizButton {
    width: 100px;
    height: 50px;
}


#answerResult {
    color:orange;
    display:none;
   text-align: center;
   margin-top: -143px; 
}


#tryAgainButton {
    display: none;
}
.home a {
    text-decoration: none;
    color: purple;
    text-align: left;
}

h1{
    text-align: center;
    font-size: 40px;
}

.highScores {
   
    padding-right: 15px;
}

#highScores p {
    background-color:black;
    color:white;
    margin: 10px 170px 20px 19px;
    padding: 10px;
    font-size: 20px;
    
}

ol {
    margin-left: 210px;
    margin-right: 240px;
    margin-top: 75px;
}